fastapi
uvicorn[standard]
pydantic
python-multipart
transformers==4.41.0
accelerate
huggingface-hub
openai-whisper

requests
numpy<2.0.0

langchain
langchain-community
sentence-transformers
chromadb

# Real AI Dependencies
llama-cpp-python
einops
timm
Pillow
